:root {
    /* Colors */
    --color-primary-dark: #1B0BCE;
    --color-primary: #005fa3;
    --color-gray-light: #969696;
    --color-bg: #f5f6fa;
    --color-text: #333;
    --color-white: #fff;
    --color-dark-icons: #363636;
    --color-warning: #efc722;

    /* Typography */
    --font-family-base: "Raleway", sans-serif;
    /*font-weight*/
    --font-weight-bold: bold;
    /* Font sizes*/
    --font-size-10: 1rem; /* 10px */
    --font-size-12: 1.2rem; /* 12px */
    --font-size-14: 1.4rem; /* 14px */
    --font-size-16: 1.6rem; /* 16px */
    --font-size-18: 1.8rem; /* 18px */
    --font-size-20: 2rem; /* 20px */
    --font-size-24: 2.4rem; /* 24px */
    --font-size-30: 3rem; /* 30px */
    --font-size-36: 3.6rem; /* 36px */

    /* Spacing scale*/
    --space-xs: 0.25rem; /* 2.5px */
    --space-sm: 0.5rem; /* 5px */
    --space-md: 1rem; /* 10px */
    --space-lg: 1.5rem; /* 15px */
    --space-xl: 2rem; /* 20px */
    --space-2xl: 3rem; /* 30px */
    --space-3xl: 4rem; /* 40px */
    --space-4xl: 6rem; /* 60px */
    /* Border radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;

    /* Shadow */
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 6px rgba(0, 0, 0, 0.15);

    /*icon*/
    --icon-size-sm: 1.6rem;
    --icon-size-md: 2.4rem;
    --icon-size-lg: 5rem;
    --icon-size-xl: 8rem;
    --icon-size-2xl: 10rem;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.grid {
    display: grid;
}