@import "modern-normalize.css";
@import "base.css";

.screen-start {
    min-height: 100vh;

    background-image: url("/img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-primary-dark);
}

.game-start-info {
    min-height: 100vh;
    width: 50%;
}

.game-start-container {
    gap: 50px;
}

#game-name {
    font-weight: var(--font-weight-bold);

    font-size: 84px;
    color: var(--color-white);

    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.45),
    0 0 14px rgba(26, 160, 255, 0.6),
    0 0 30px rgba(26, 160, 255, 0.35);
}

.game-move-options {
    background-color: rgba(26, 194, 255, 0.11);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15),
    0 4px 10px rgba(0, 0, 0, 0.08);

    border-radius: 15px;

    width: 500px;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
}

.game-move-options p {
    color: var(--color-white);
    font-size: 32px;
}

.game-move-choice-container {
    background-color: var(--color-primary-dark);
    border-radius: 15px;
    padding: 12px;
}

.game-move-choice-container button {
    background-color: unset;
}

.game-options-button {
    width: 220px;
    height: 120px;

    align-items: center;
    justify-content: center;

    color: var(--color-white);
    font-size: 90px;

    border: none;
    border-radius: 15px;
    cursor: pointer;

    transition: background-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease,
    color 0.2s ease;
}

.game-options-button:hover {
    background: linear-gradient(145deg, #38b6ff, #1aa0ff);

    box-shadow: 0 8px 25px rgba(26, 160, 255, 0.6),
    0 0 20px rgba(26, 160, 255, 0.4);

    transform: translateY(-3px) scale(1.03);
}

.game-options-button:active {
    background: linear-gradient(145deg, #0d6efd, #094db1);

    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.4);

    transform: translateY(1px) scale(0.97);
}

.selected-move {
    background: linear-gradient(145deg, #38b6ff, #1aa0ff);
    box-shadow: 0 0 15px rgba(26, 160, 255, 0.7),
    0 0 30px rgba(26, 160, 255, 0.45);
    transform: scale(1.05);
}

.game-move-choice-container:hover
.selected-move:not(:hover) {
    background: none;
    box-shadow: none;
    transform: scale(1);
    opacity: 0.5;
}


.game-start-button {
    font-size: 32px;
    color: var(--color-white);

    background: linear-gradient(145deg, #1aa0ff, #0d6efd);
}
