@import "modern-normalize.css";
@import "base.css";

body {
    background-color: var(--color-primary-dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.screen-start {
    min-height: 100vh;

    background-image: url("/img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game-start-info {
    min-height: 100vh;
    width: 50%;
}

.game-start-container {
    gap: 24px;
}

.game-name {
    font-weight: var(--font-weight-bold);

    font-size: 84px;
    color: var(--color-white);

    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.45),
    0 0 14px rgba(26, 160, 255, 0.6),
    0 0 30px rgba(26, 160, 255, 0.35);
}

.game-move-options {
    background-color: rgba(26, 194, 255, 0.11);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15),
    0 4px 10px rgba(0, 0, 0, 0.08);

    border-radius: 15px;

    width: 700px;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
}

.game-move-options p {
    color: var(--color-white);
    font-size: 32px;
}

.game-move-choice-container {
    background-color: var(--color-primary-dark);
    border-radius: 15px;
    padding: 12px;
}

.game-move-choice-container button {
    background-color: unset;
}

.game-options-button {
    width: 200px;
    height: 100px;

    align-items: center;
    justify-content: center;

    color: var(--color-white);
    font-size: 80px;

    border: none;
    border-radius: 15px;
    cursor: pointer;

    transition: background-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease,
    color 0.2s ease;
}

.game-options-button:hover {
    background: linear-gradient(145deg, #38b6ff, #1aa0ff);

    box-shadow: 0 8px 25px rgba(26, 160, 255, 0.6),
    0 0 20px rgba(26, 160, 255, 0.4);

    transform: translateY(-3px) scale(1.03);
}

.game-options-button:active {
    background: linear-gradient(145deg, #0d6efd, #094db1);
    box-shadow: inset 0 6px 14px rgba(0, 0, 0, 0.45);
    transform: translateY(4px) scale(0.96);
}


.selected-move {
    background: linear-gradient(145deg, #38b6ff, #1aa0ff);
    box-shadow: 0 0 15px rgba(26, 160, 255, 0.7),
    0 0 30px rgba(26, 160, 255, 0.45);
    transform: scale(1.05);
}

.game-start-button {
    font-size: 32px;
    color: var(--color-white);

    background: linear-gradient(145deg, #1aa0ff, #0d6efd);
}

.game-move-choice.selected-move:not(:hover) {
    background: linear-gradient(145deg, #38b6ff, #1aa0ff);
    box-shadow: 0 8px 25px rgba(26, 160, 255, 0.6),
    0 0 20px rgba(26, 160, 255, 0.4);

    transform: translateY(-3px) scale(1.03);
    opacity: 1;
}

.game-move-choice-container:hover .selected-move:not(:hover) {
    background: none;
    box-shadow: none;
    transform: scale(1);
    opacity: 0.5;
}

.game-move-choice:not(:hover):not(.selected-move) {
    background: none;
    box-shadow: none;
    transform: scale(1);
    opacity: 0.5;
}

.game-opponent-choice {
    font-size: 50px;
}

/*Game board*/
.screen-game {
    width: 80vw;
    height: 100vh;
    margin: 20px auto 50px;

    justify-content: center;
}

.game-container {
    gap: 80px;
    height: 90vh;
    justify-content: space-between;
}

.game-options-header {
    justify-content: space-between;
    align-items: center;
}

.button-option {
    height: 50px;
    width: 50px;

    border: none;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.07);
    color: var(--color-white);

    cursor: pointer;
}

.button-option svg {
    fill: var(--color-white);
}

.button-option:hover {
    background: linear-gradient(145deg, #38b6ff, #1aa0ff);
    transform: translateY(-3px) scale(1.03);
}

.button-option:active {
    background: linear-gradient(145deg, #0d6efd, #094db1);
    box-shadow: inset 0 6px 14px rgba(0, 0, 0, 0.45);
    transform: translateY(4px) scale(0.96);
}

/*board*/
.board-container {
    display: grid;
    grid-template-columns: repeat(3, 125px);
    gap: 24px;

    justify-items: center;
    align-self: center;
}

.board {
    background-color: rgba(52, 115, 250, 0.23);
    box-shadow: 0 4px 6px rgba(66, 176, 245, 0.42);

    border-radius: 8px;
    border: 2px solid rgba(69, 119, 255, 0.32);

    width: 125px;
    height: 125px;

    cursor: pointer;
}

.board:hover {
    scale: 1.15;
}

/*footer game screen*/
.game-options-footer {
    justify-content: space-between;
}

.game-result {

    width: 200px;
    height: 100px;

    justify-content: space-evenly;
    align-items: center;


    font-size: 24px;
    color: var(--color-white);

    background: linear-gradient(145deg, #0d6efd, #094db1);

    border-radius: 12px;
    padding: 16px 24px;
}

.result-player {
    background: rgb(22, 81, 190);
}

.result-draw {
    background: rgba(0, 246, 0, 0.35);
}

.result-p {
    background: rgba(255, 27, 174, 0.25);
}
