@import "./base/modern-normalize.css";
@import "./base/variables.css";

body {
    height: 100vh;
    width: 100vw;
    background-color: #005fa3;

    font-family: var(--font-family-base);
    font-size: var(--font-size-18);
}

.container {
    background-color: white;

    height: 90%;
    width: 70%;
}

#logo {
    color: #969696;
}

.nav-content {
    width: 20vw;

    padding: 10px 20px 20px 20px;

    border: 1px solid rgba(138, 138, 138, 0.26);
}

.user-name {
    height: 50px;

    color: #606060;
    font-size: var(--font-size-20);
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
}

.user-info {
    align-items: center;

    gap: 20px;
    display: flex;
    white-space: nowrap;
}

.icon-sm {
    height: 24px;
    width: 24px;

    stroke-width: 2;

    color: #37a1ff;
}

.icon-lg {
    height: 40px;
    width: 40px;
}

.tasks-type li {
    list-style: none;
}

.tasks-type ul {
    padding-left: 0;
}

.menu-item {
    padding: 12px 12px 12px 0;
    gap: 15px;
}


#fav-my-day {
}

#break {
    height: 1px;
    width: 100%;

    margin: 20px 0;

    border: 1px solid rgba(138, 138, 138, 0.26);
}
.button-bookmark {
    margin: 36px 0;
}
.main-content {
    background-color: #363636;
}

